@import "~normalize.css";
@import "~milligram-scss";
@import "variables.scss";

html {
    background-color: $color-background;
    color: $color-text;
}

body {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.wrapper {
    min-height: calc(100vh - 70px);
    padding-top: 80px;
}

.container {
    max-width: 80.0rem;
}

h1, h2, h3, h4, h5, h6 {
    color: $color-headlines;
}

p {
    color: $color-text;
}

a {
    color: $color-tertiary;
    &:hover, &:focus {
        color: $color-text;
    }
}

footer {
    width: 100%;
    text-align: center;
    height: 70px;
    a {
        padding: 20px 10px 0 10px;
        color: $color-secondary;
        display: inline-block;
        &:hover, &:focus {
            color: $color-text;
        }
    }
}

input[type=email]:focus, input[type=number]:focus, input[type=password]:focus, input[type=search]:focus, input[type=tel]:focus, input[type=text]:focus, input[type=url]:focus, select:focus, textarea:focus {
    border-color: $color-buttons;
    outline: 0;
}

.vue-notification {
    margin: 5px;
}