@import "~normalize.css";
@import "~milligram-scss";
@import "variables.scss";

html {
    background-color: $color-background;
    color: $color-text;
}

body {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-bottom: 60px;
}

.container {
    max-width: 80.0rem;
}

h1, h2, h3, h4, h5, h6 {
    color: $color-headlines;
}

p {
    color: $color-text;
}

a {
    color: $color-tertiary;
    &:hover, &:focus {
        color: $color-text;
    }
}

.wrapper {
    padding-top: 80px;
}

.home {
    text-align: center;
}

footer {
    height: 60px;
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    a {
        padding: 0 10px;
        color: $color-secondary;
        &:hover, &:focus {
            color: $color-text;
        }
    }
}